/* fonts
font-family: 'EB Garamond', serif;
font-family: 'Montserrat', sans-serif;
*/

/* colors
RED #E03A3E
YELLOW #FFD520
BLACK #000000
WHITE #FFFFFF
*/
body {
    background-color: #000000;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #FFD520;
    text-align: center;
}

h1 {
    font-weight: 400;
    padding: 20px 0;
    color: #E03A3E;
}

h2 {
    padding: 20px 0 0;
}
p.none{
    font-size: .7em;
}
.sections,
.chart {
    background-color: #E03A3E;
    width: 85%;
    margin: auto;
}
.chart{
    background-color: #FFFFFF;
}

iframe {
    padding: 10px;
}

.img-fluid {
    margin: auto;
    width: 300px;
    height: 300px;
    align-items: center;
}

.null {
    margin-top: 50px;
}

.old {
    margin-right: 40px;
}

.champ {
    margin-top: 50px;
    margin-left: 40px;
}

.now {
    margin-top: 110px;
    margin-left: 40px;
}

@media (min-width: 450px) and (max-width: 800px) {
    .img-fluid {
        width: 200px;
        height: 200px;
    }

    .null {
        margin-top: 75px;
    }

    .champ {
        margin-left: 2px;
        margin-top: 60px;
    }

    .now {
        margin-top: 110px;
        margin-left: 2px;
    }
}

p {
    padding: 0 20px;
    font-family: 'EB Garamond', serif;
    font-size: 1.5em;
    color: #FFFFFF;
}

p.indent {
    text-indent: 20px;
}

@media (max-width:850px) {
    p {
        font-size: 1em;
    }
}

@media (max-width:450px) {
    .null {
        display: none;
    }
    .none{
        display: none;
    }
    .old,
    .champ,
    .now,
    .gary {
        margin-left: 25px;
    }

    .champ,
    .now {
        margin-top: 0;
    }
}

.copyright {
    padding-bottom: 3px
}

a {
    color: #FFFFFF;
}

a:hover {
    color: #FFD520;
}

footer {
    text-align: center;
}